@media (max-width:1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	.button {
        padding: 3.888vw;
        font-size: 5.55vw;
        &_header {
            padding: 1.388vw;
            font-size: 3.888vw;
        }
	}
}
@media (max-width: 768px) {

}
@media (max-width: 480px) {

}