@media (max-width: 992px) {
	.footer {
        margin-top: 16.666vw;
        padding: 5vw 0 3.61vw 0;
        &_wrapper {
            flex-wrap: wrap;
            gap: 9.72vw 6%;
        }
        &_left {
            gap: 3.333vw;
            width: 56%;
            .title {
                font-size: 3.333vw;
            }
        }
        &_logo {
            width: 81.71%;
            img {
                width: 33.33vw;
            }
        }
        &_right {
            gap: 15.833vw;
            width: 100%;
            margin-left: 0;
        }
        &_contacts {
            gap: 6.388vw;
        }
        &_links {
            gap: 3.333vw;
            width: 47%;
            .title_20 {
                font-size: 5.555vw;
                margin-bottom: 1.944vw;
            }
        }
        &_contact {
            gap: 2.777vw;
            img {
                height: 6.111vw;
            }
            &:last-child {
                img {
                    height: 4.444vw;
                }
            }
        }
        &_target {
            gap: 1.111vw;
            margin: 0 auto;
            img {
                width: 45.83vw;
            }
        }
        &_socials {
            gap: 8.5%;
            & > div {
                width: 13.14%;
                padding-top: 13.14%;
                border-radius: 0.833vw;
            }
        }
        &_bottom {
            margin-top: 6.388vw;
        }
    }
}
@media (max-width: 768px) {
    .footer {
        &_socials {
            & > div {
                width: 17.14%;
                padding-top: 17.14%;
            }
        }
        &_target {
            .title {
                font-size: 3.888vw;
            }
        }
    }
}
@media (max-width: 480px) {

}
