@media (max-width: 992px) {
	.header {
        &_top {
            height: 56.666vw;
            &_content {
                bottom: 2.777vw;
                .title {
                    margin-top: 0;
                }
            }
            &_brochure {
                position: static;
                padding: 3.333vw 4.722vw;
                margin-top: 3.611vw;
                width: calc(100% - 4.722vw - 4.722vw);
                border-radius: 4.166vw;
                img {
                    position: absolute;
                    top: -5.83vw;
                    transform: none;
                    right: -1.38vw;
                    width: 25.55vw;
                }
                .title_20 {
                    font-size: 3.88vw;
                    br {
                        display: none;
                    }
                }
                .button {
                    margin-top: 2.777vw;
                    width: 38.611vw;
                    height: 7.5vw;
                    font-size: 3.888vw;
                }
            }
        }
        &_main {
            top: 3.888vw;
            .container {
                height: 13.333vw;
            }
        }
        &_logo {
            &_bg {
                top: -3.611vw;
                left: -3.611vw;
                width: 46.666vw;
                height: 20vw;
                background: #fff;
                filter: blur(20px);
            }
            img {
                height: 13.333vw;
            }
        }
        &_buttons {
            gap: 7.5vw;
            img {
                height: 6.944vw;
            }
        }
        &_socials {
            gap: 4.166vw;
            & > div {
                width: 8.333vw;
                height: 8.333vw;
                border-radius: 0.833vw;
            }
        }
        &_bottom {
            padding: 3.611vw 0;
            .title_48 {
                font-size: 6.666vw;
            }
        }
        &_products {
            flex-wrap: wrap;
            gap: 3.055vw 0;
            margin-top: 4.444vw;
        }
        &_product {
            img {
                width: 41.666vw;
                height: 41.666vw;
            }
            .title {
                margin-top: 1.388vw;
                font-size: 3.888vw;
            }
        }
        .full {
            display: none;
        }
        .others {
            overflow-x: auto;
            padding-bottom: 4.055vw;
            &::-webkit-scrollbar {
                height: 1.666vw;
                border-radius: 1.388vw;
                background-color: #fff;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 1.388vw;
                background: #ffb800;;
            }
            &::-webkit-scrollbar-track {
                border-radius: 1.388vw;
                background: #fff;
            }
            gap: 5.555vw;
            .title {
                text-wrap: nowrap;
                font-size: 3.333vw;
            }
            .active {
                &::after {
                    left: -0.555vw;
                    bottom: -1.222vw;
                    width: calc(100% + 0.555vw + 0.555vw);
                    height: 0.833vw;
                    border-radius: 1.388vw;
                }
            }
        }
    }
    .burger {
        &_modal {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 6.111vw 5.833vw 0;
            width: calc(100vw - 5.833vw - 5.833vw);
            max-height: calc(100vh - 6.111vw);
            &::-webkit-scrollbar {
                width: 1.666vw;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 1.388vw;
            }
            &::-webkit-scrollbar-track {
                border-radius: 1.388vw;
            }
        }
        &_buttons {
            top: 3.611vw;
            right: 3.611vw;
            img {
                width: 6.944vw;
                height: 6.944vw;
                &:first-child {
                    display: none;
                }
            }
        }
        &_menu {
            flex-direction: column;
            gap: 6.944vw;
            margin-top: 7.777vw;
            & > li, ul {
                gap: 4.166vw;
            }
            ul {
                gap: 4.166vw;
                padding-left: 3.888vw;
            }
            .title {
                font-size: 3.888vw;
                &_20 {
                    font-size: 5.555vw;
                }
            }
        }
        &_search {
            width: 64%;
            font-size: 4.444vw;
            &::placeholder {
                font-size: 4.444vw;
            }
        }
        &_bottom {
            position: relative;
            left: -5.833vw;
            display: block;
            margin-top: 5vw;
            padding: 3.611vw 5.833vw;
            width: calc(100vw - 5.833vw - 5.833vw);
            background: #015019;
        }
    }
    .burger.show {
        animation: fadeIn 0.5s;
    }
    .burger:not(.show) {
        animation: fadeOut 0.8s;
    }
}
