@media (max-width:1720px) {
	.title {
		font-size: 16px;
        &_18 {
            font-size: 17px;
        }
        &_20 {
            font-size: 19px;
        }
        &_22 {
            font-size: 21px;
        }
        &_24 {
            font-size: 23px;
        }
        &_28 {
            font-size: 27px;
        }
        &_30 {
            font-size: 29px;
        }
        &_32 {
            font-size: 30px;
        }
        &_36 {
            font-size: 32px;
        }
        &_37 {
            font-size: 35px;
        }
        &_40 {
            font-size: 24px;
        }
        &_40 {
            font-size: 37px;
        }
        &_48 {
            font-size: 44px;
        }
        &_50 {
            font-size: 48px;
        }
    }
}
@media (max-width:1600px) {
	.title {
		font-size: 16px;
        &_18 {
            font-size: 16px;
        }
        &_20 {
            font-size: 18px;
        }
        &_22 {
            font-size: 20px;
        }
        &_24 {
            font-size: 21px;
        }
        &_28 {
            font-size: 25px;
        }
        &_30 {
            font-size: 28px;
        }
        &_32 {
            font-size: 28px;
        }
        &_36 {
            font-size: 28px;
        }
        &_37 {
            font-size: 33px;
        }
        &_40 {
            font-size: 34px;
        }
        &_48 {
            font-size: 40px;
        }
        &_50 {
            font-size: 46px;
        }
    }
}
@media (max-width:1440px) {
	.title {
		font-size: 16px;
        &_18 {
            font-size: 16px;
        }
        &_20 {
            font-size: 17px;
        }
        &_22 {
            font-size: 19px;
        }
        &_24 {
            font-size: 20px;
        }
        &_28 {
            font-size: 24px;
        }
        &_30 {
            font-size: 27px;
        }
        &_32 {
            font-size: 26px;
        }
        &_36 {
            font-size: 24px;
        }
        &_37 {
            font-size: 31px;
        }
        &_40 {
            font-size: 32px;
        }
        &_48 {
            font-size: 36px;
        }
        &_50 {
            font-size: 44px;
        }
    }
}
@media (max-width: 1200px) {
	.title {
		font-size: 16px;
        &_18 {
            font-size: 15px;
        }
        &_20 {
            font-size: 16px;
        }
        &_22 {
            font-size: 18px;
        }
        &_24 {
            font-size: 19px;
        }
        &_28 {
            font-size: 23px;
        }
        &_30 {
            font-size: 26px;
        }
        &_32 {
            font-size: 24px;
        }
        &_36 {
            font-size: 20px;
        }
        &_37 {
            font-size: 29px;
        }
        &_40 {
            font-size: 30px;
        }
        &_48 {
            font-size: 32px;
        }
        &_50 {
            font-size: 43px;
        }
    }
}
@media (max-width: 992px) {
	.title {
		font-size: 16px;
        &_18 {
            font-size: 15px;
        }
        &_20 {
            font-size: 15px;
        }
        &_22 {
            font-size: 17px;
        }
        &_24 {
            font-size: 18px;
        }
        &_28 {
            font-size: 22px;
        }
        &_30 {
            font-size: 25px;
        }
        &_32 {
            font-size: 22px;
        }
        &_36 {
            font-size: 16px;
        }
        &_37 {
            font-size: 27px;
        }
        &_40 {
            font-size: 28px;
        }
        &_48 {
            font-size: 28px;
        }
        &_50 {
            font-size: 42px;
        }
    }
}
@media (max-width: 768px) {
	.title {
		font-size: 16px;
        &_18 {
            font-size: 14px;
        }
        &_20 {
            font-size: 14px;
        }
        &_22 {
            font-size: 16px;
        }
        &_24 {
            font-size: 17px;
        }
        &_28 {
            font-size: 21px;
        }
        &_30 {
            font-size: 24px;
        }
        &_32 {
            font-size: 20px;
        }
        &_36 {
            font-size: 12px;
        }
        &_37 {
            font-size: 25px;
        }
        &_40 {
            font-size: 26px;
        }
        &_48 {
            font-size: 24px;
        }
        &_50 {
            font-size: 41px;
        }
    }
}
@media (max-width: 480px) {
	.title {
		font-size: 16px;
        &_18 {
            font-size: 14px;
        }
        &_20 {
            font-size: 14px;
        }
        &_22 {
            font-size: 16px;
        }
        &_24 {
            font-size: 16px;
        }
        &_28 {
            font-size: 20px;
        }
        &_30 {
            font-size: 24px;
        }
        &_32 {
            font-size: 20px;
        }
        &_36 {
            font-size: 12px;
        }
        &_37 {
            font-size: 24px;
        }
        &_40 {
            font-size: 24px;
        }
        &_48 {
            font-size: 20px;
        }
        &_50 {
            font-size: 40px;
        }
    }
}
