@media (max-width: 992px) {
	.title {
		font-size: 4.444vw;
        &_18 {
            font-size: 3.888vw;
        }
        &_20 {
            font-size: 3.888vw;
        }
        &_22 {
            font-size: 4.444vw;
        }
        &_24 {
            font-size: 4.444vw;
        }
        &_28 {
            font-size: 5.555vw;
        }
        &_30 {
            font-size: 6.666vw;
        }
        &_32 {
            font-size: 5.555vw;
        }
        &_36 {
            font-size: 3.333vw;
        }
        &_37 {
            font-size: 6.666vw;
        }
        &_40 {
            font-size: 6.666vw;
        }
        &_48 {
            font-size: 5.555vw;
        }
        &_50 {
            font-size: 11.111vw;
        }
    }
}
