.brand {
    padding-top: 2.291vw;
    &_wrapper {
        display: flex;
        justify-content: space-between;
    }
    &_others {
        width: 23.67%;
        .title_32 {
            color: #015019;
        }
        img {
            display: none;
        }
    }
    &_items {
        display: flex;
        flex-direction: column;
        gap: 1.302vw;
        padding-left: 2.291vw;
        margin-top: 1.614vw;
        a:hover {
            color: #7BA254;
            text-decoration: underline;
        }
    }
    &_descr {
        padding-top: 2.968vw;
        width: 74%;
        .title_24.regular {
            margin-top: 2.083vw;
            width: 38.666vw;
        }
    }
    &_title {
        display: flex;
        align-items: end;
        gap: 1.822vw;
        img {
            width: 3.541vw;
            height: 3.541vw;
        }
    }
    &_headers {
        display: flex;
        gap: 4.218vw;
        margin-top: 4.218vw;
        .title {
            cursor: pointer;
        }
    }
    &_tab {
        margin-top: 1.822vw;
        &_active {
            &::after {
                position: relative;
                bottom: -0.52vw;
                content: '';
                display:block;
                width: 100%;
                height: 0.156vw;
                border-radius: 0.26vw;
                background: #a15a96;
            }
        }
    }
    &_params {
        display: flex;
        gap: 2.864vw;
        &_row {
            display: flex;
            align-items: start;
            gap: 2.343vw;
            width: 27.135vw;
            img {
                width: 4.01vw;
            }
        }
        &_column {
            display: flex;
            flex-direction: column;
            gap: 2.083vw;
        }
        &_item {
            display: flex;
            flex-direction: column;
            gap: 0.26vw;
            .title_20 {
                color: #a15a96;
            }
        }
        &_bottom {
            margin-top: 3.125vw;
            .divider {
                margin-top: 0;
                margin-bottom: 1.302vw;
            }
        }
    }
    &_table {
        display: flex;
        &_column {
            position: relative;
            flex: 1;
            .title {
                display: flex;
                align-items: center;
            }
            .title_20 {
                padding: 1.25vw 0.781vw;
                height: calc(3.75vw - 1.25vw - 1.25vw);
                &:nth-child(odd) {
                    background: rgba(161, 90, 150, 0.38);
                }
            }
            .title_24 {
                height: 7.708vw;
                background: #a15a96;
                text-wrap: nowrap;
                color: #fff;
            }
            .title_32 {
                position: absolute;
                top: 1.406vw;
                text-wrap: nowrap;
                color: #fff;
            }
            .left {
                padding-left: 2.916vw;
            }
            .top span {
                padding-top: 2.968vw;
            }
        }
    }
    &_images {
        display: flex;
        flex-wrap: wrap;
        gap: 1.302vw 2%;
        img {
            width: 23.45%;
            height: 15.052vw;
            object-fit: cover;
        }
    }
    &_advantages {
        display: flex;
        flex-wrap: wrap;
        gap: 2.083vw 3.489vw;
        margin-top: 1.822vw;
        li {
            margin-left: 1.507vw;
            width: 21.01vw;
        }
    }
    .images {
        .title_24 {
            width: 100%;
            margin-top: 3.593vw;
        }
    }
    .divider {
        width: 100%;
        height: 0.156vw;
        margin-top: 1.822vw;
        border-radius: 0.26vw;
        background: #757575;
    }
}
