.button {
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 0.989vw;
    border: none;
    border-radius: 0.52vw;
    background-color: #015019;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	text-align: center;
    font-family: "CenturyGothic", sans-serif;
	font-weight: 700;
    font-size: 1.25vw;
    color: #fff;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px 4px rgba(#015019, 0.5);
        background-color: rgba(#015019, 0.8);
    }
	&_header {
        padding: 0.26vw;
        border: 1px solid #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 1.041vw;
	}
    &_city {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.781vw;
        padding: 0.468vw;
        border: 1px solid #fff;
        background: linear-gradient(131deg, #fff 0%, rgba(255, 255, 255, 0.8) 100%);
        font-weight: 600;
        font-size: 1.041vw;
        color: #015019;
        img {
            width: 1.145vw;
            filter: brightness(0) saturate(100%) invert(19%) sepia(27%) saturate(4461%) hue-rotate(120deg) brightness(89%) contrast(99%);
        }
    }
    &_back {
        padding: 0.416vw;
        border: 1px solid #015019;
        background: none;
        font-weight: 500;
        font-size: 1.041vw;
        color: #000;
    }
}
