.footer {
    margin-top: 3.177vw;
    padding: 2.135vw 0 0.937vw 0;
    background: #001800;
    &_wrapper {
        display: flex;
        gap: 3.1%;
        .title {
            color: #fff;
        }
    }
    &_left, &_right, &_contacts, &_links, &_target {
        display: flex;
        flex-direction: column;
    }
    &_left {
        gap: 1.354vw;
        width: 14%;
        .title {
            text-decoration: underline;
            color: #afd184;
            text-wrap: nowrap;
        }
    }
    &_logo {
        width: 86.69%;
        img {
            width: 100%;
        }
    }
    &_right {
        justify-content: space-between;
        margin-left: auto;
    }
    &_contacts {
        gap: 1.927vw;
    }
    &_contact {
        display: flex;
        align-items: center;
        gap: 0.989vw;
        & > div {
            display: flex;
            flex-direction: column;
        }
        a:hover {
            color: #7BA254;
        }
        img {
            height: 1.822vw;
            &:hover {
                transform: scale(1.2);
            }
        }
        &:last-child {
            img {
                height: 1.302vw;
            }
        }
    }
    &_links {
        gap: 0.625vw;
        .title_20 {
            margin-bottom: 0.364vw;
        }
        a:hover {
            color: #7BA254;
            text-decoration: underline;
        }
    }
    &_target {
        align-items: end;
        gap: 0.208vw;
        img {
            width: 8.593vw;
        }
    }
    &_socials {
        display: flex;
        gap: 7.72%;
        & > div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 19.31%;
            padding-top: 19.31%;
            border-radius: 0.781vw;
            backdrop-filter: blur(26.266666412353516px);
            box-shadow: inset -1px 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px -1px 1px 0 rgba(214, 214, 214, 0.4);
            background: rgba(255, 255, 255, 0.1);
            a {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                width: 57.77%;
                
            }
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    &_bottom {
        margin-top: 4.27vw;
        text-align: center;
        color: #fff;
    }
}
