.header {
    &_top {
        position: relative;
        height: 36vw;
        &_content {
            position: absolute;
            bottom: 1.56vw;
            .title {
                margin-top: 2.5vw;
                color: #fff;
            }
        }
        &_brochure {
            position: absolute;
            bottom: 2.55vw;
            right: 0;
            padding: 1.56vw 0.88vw;
            width: 16.92vw;
            border-radius: 0.781vw;
            backdrop-filter: blur(26.266666412353516px);
            box-shadow: inset -1px 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px -1px 1px 0 rgba(214, 214, 214, 0.4);
            background: rgba(255, 255, 255, 0.1);
            img {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                right: 0.46vw;
                width: 7vw;
                cursor: pointer;
            }
            .title_20 {
                font-size: 1.04vw;
                color: #fff;
            }
            .button {
                margin-top: 0.62vw;
                width: 8.85vw;
                height: 1.66vw;
                font-size: 1.04vw;
            }
        }
    }
    &_bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_main {
        position: fixed;
        z-index: 5;
        top: 1.45vw;
        width: 100%;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0.52vw;
            height: 4.8vw;
        }
    }
    &_logo img {
        height: 4.8vw;
    }
    &_buttons {
        display: flex;
        gap: 2.08vw;
        img {
            height: 1.3vw;
            cursor: pointer;
        }
    }
    &_socials {
        display: flex;
        gap: 1.35vw;
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.38vw;
            height: 3.38vw;
            border-radius: 0.78vw;
            backdrop-filter: blur(26.266666412353516px);
            box-shadow: inset -1px 1px 1px 0 rgba(255, 255, 255, 0.4), inset 1px -1px 1px 0 rgba(214, 214, 214, 0.4);
            background: rgba(255, 255, 255, 0.1);
            a {
                display: flex;
                align-items: center;
                width: 57.77%;
            }
            img {
                width: 100%;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    &_bottom {
        padding: 1.61vw 0;
        background: #015019;
        .title_48 {
            text-align: center;
            color: #fff;
        }
    }
    &_products {
        display: flex;
        justify-content: space-between;
        margin-top: 1.041vw;
    }
    &_product {
        img {
            width: 9.21vw;
            height: 9.21vw;
            object-fit: cover;
            &:hover {
                filter: contrast(150%);
            }
        }
        .title {
            margin-top: 0.73vw;
            text-align: center;
            font-size: 1.04vw;
            color: #fff;
        }
    }
    .others, .products {
        display: flex;
        gap: 3.385vw;
        .title {
            color: #fff;
        }
        .active {
            &::after {
                position: relative;
                left: -0.677vw;
                bottom: -0.42vw;
                content: '';
                display:block;
                width: calc(100% + 0.677vw + 0.677vw);
                height: 0.156vw;
                border-radius: 0.26vw;
                background: #fff;
            }
        }
    }
    .products {
        gap: 1.562vw;
    }
    &_bottom {
        .container {
            display: none;
        }
    }
}
.burger {
    display: none;
    position: fixed;
    z-index: 14;
    top: 0;
    width: 100%;
    height: 100%;
    &_modal {
        position: absolute;
        top: 5vh;
        left: 50%;
        transform: translate(-50%, 0);
        overflow-y: auto;
        padding: 1.197vw 1.666vw;
        width: calc(55.208vw - 1.666vw - 1.666vw);
        max-height: calc(90vh - 1.197vw - 1.197vw);
        background: #fff;
        &::-webkit-scrollbar {
            width: 0.312vw;
            background-color: #fff;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 0.26vw;
            background: #015019;
        }
        &::-webkit-scrollbar-track {
            border-radius: 0.26vw;
            background: #fff;
        }
    }
    &_buttons {
        position: absolute;
        top: 1.197vw;
        right: 1.197vw;
        z-index: 5;
        display: flex;
        gap: 1.302vw;
        img {
            width: 1.302vw;
            height: 1.302vw;
            filter: brightness(0) saturate(100%);
            cursor: pointer;
        }
    }
    &_menu {
        display: flex;
        justify-content: space-between;
        margin-top: 1.875vw;
        & > li, ul {
            display: flex;
            flex-direction: column;
            gap: 1.145vw;
        }
        ul {
            gap: 0.781vw;
            padding-left: 1.145vw;
        }
        li {
            list-style: none;
            a:hover {
                color: #7BA254;
                text-decoration: underline;
            }
        }
    }
    &_search {
        width: 76%;
        border: none;
        font-weight: 400;
        font-size: 1.25vw;
        color: #757575;
        outline: none;
        &::placeholder {
            font-weight: 400;
            font-size: 1.25vw;
            color: #757575;
        }
    }
    &_bottom {
        display: none;
    }
}
.burger.show {
    animation: fadeIn 0.8s;
}
.burger:not(.show) {
    animation: fadeOut 1.5s;
}

@keyframes fadeIn {
    from {
        top: -90vw;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        top: 0;
        display: block;
        opacity: 1;
    }
    to {
        top: -90vw;
        display: none;
        opacity: 0;
    }
}
