.title {
	font-size: 0.833vw;
	font-weight: 400;
	color: #000;
	&_18 {
		font-size: 0.935vw;
	}
	&_20 {
		font-size: 1.041vw;
	}
	&_22 {
		font-size: 1.145vw;
	}
	&_24 {
		font-size: 1.125vw;
	}
	&_28 {
		font-size: 1.458vw;
	}
	&_30 {
		font-size: 1.562vw;
	}
	&_32 {
		font-size: 1.666vw;
	}
	&_36 {
		font-size: 1.875vw;
	}
	&_37 {
		font-size: 1.927vw;
	}
	&_40 {
		font-size: 2.083vw;
	}
	&_48 {
		font-size: 2.5vw;
	}
	&_50 {
		font-size: 2.604vw;
	}
}

.light {
	font-weight: 300;
}
.regular {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.semi-bold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.extra-bold {
	font-weight: 800;
}
.upper {
	text-transform: uppercase;
}
.under {
	text-decoration: underline;
}

.lato {
	font-family: "Lato", sans-serif;
}
.mont {
	font-family: "Montserrat", sans-serif;
}
.inter {
	font-family: "Inter", sans-serif;
}
.gothic {
	font-family: "CenturyGothic", sans-serif;
}
.roboto {
	font-family: "Roboto", sans-serif;
}
