.weather {
    margin-top: 3.75vw;
    &_wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 3.75vw;
    }
    &_widget {
        display: flex;
        width: 55.18%;
        &_top {
            img {
                width: 1.302vw;
            }
            .title_20 {
                display: flex;
                align-items: end;
                gap: 0.364vw;
                margin-top: 0.52vw;
            }
            .title_22 {
                margin-top: 0.781vw;
            }
        }
        &_bottom {
            img {
                width: 4.479vw;
            }
            .title_30 {
                margin-top: 0.625vw;
            }
            .title_50 {
                margin-top: 0.416vw;
            }
        }
        .title {
            color: #fff;
        }
    }
    &_left {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2.291vw 1.51vw 4.01vw 1.51vw;
        width: calc(48.64% - 1.51vw - 1.51vw);
        height: calc(31.562vw - 2.291vw - 4.01vw);
        
    }
    &_right {
        position: relative;
        padding: 3.591vw 2.291vw 4.01vw 2.604vw;
        width: calc(51.35% - 2.291vw - 2.604vw);
        height: calc(31.562vw - 3.591vw - 4.01vw);
        .button {
            margin-top: 3.385vw;
            width: 100%;
        }
    }
    &_bg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 1.562vw;
        object-fit: cover;
    }
    &_parameter {
        display: flex;
        justify-content: space-between;
        margin-top: 0.781vw;
    }
    &_degrees {
        display: flex;
        margin-top: 1.927vw;
        .active {
            background: #fff;
            img {
                filter: brightness(0) saturate(100%)
            }
            .title {
                color: #000;
            }
        }
    }
    &_degree {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.52vw;
        width: 25%;
        height: 7.916vw;
        border-radius: 0.52vw;
        box-shadow: 1px 2px 4px 0 #222831;
        background: #053a15;
        img {
            width: 2.552vw;
        }
        .title {
            text-align: center;
        }
    }
    &_slider {
        overflow: hidden;
        width: 39.3%;
    }
    &_controls {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: 1.041vw;
        img {
            width: 2.083vw;
        }
    }
    &_slide {
        display: flex;
        flex-direction: column;
        gap: 1.718vw;
        img {
            width: 100%;
            height: 17.083vw;
        }
    }
    &_field {
        display: flex;
    }
    &_indicators {
        margin-top: 1.197vw;
        display: flex;
        justify-content: center;
        gap: 0.729vw;
    }
    &_dot {
        width: 18.14%;
        height: 0.26vw;
        border-radius: 0.26vw;
        background: rgba(214, 214, 214, 0.4);
        cursor: pointer;
    }
    &_active {
        background: #004705;
    }
    .rotate {
        transform: rotate(180deg);
    }
}
